body{
    background-color: rgb(195, 209, 115);
}

header {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#container {
    width: 800px;
    margin: 20px auto; 
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

nav {
    margin: 10px 0;
    color: #000;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

nav a{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    margin: 0 40px;
}

nav a:hover {
    text-decoration: underline;
    color: #acba7d;
}
img {
    display: block;
    margin: 20px;
    width: 800px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
}

.img1 {
    width: 400px;
    height: 500px;
    transform: scalex(-1);
    transform: translate(150px,-100px);
}

.img2 {
    width: 400px;
    height: 400px;
    transform: scalex(-1);
    transform: translate(150px,-0px);
}

.img3 {
    width: 400px;
    height: 400px;
    transform: scalex(-1);
    transform: translate(150px,-0px);
}

.img4 {
    width: 250px;
    height: 250px;
    transform: scalex(-1);
    transform: translate(350px,90px);
}

.img5 {
    width: 450px;
    height: 400px;
    transform: scalex(-1);
    transform: translate(-50px,-90px);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color:#000
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}
